




{% extends 'layout.html' %}

<!-- under her er navnet på menysiden i taben-->
{% block title %}
{{page.title}}
{% endblock title %}


{% block meny %}
    
{% for page in pages %}
<li> 
    <a href={{url_for("page", page_id=page.id )}}> 
    <div class="tooltip"><i class= '{{page.figure_name }}'></i>
    <span class="tooltiptext">{{page.title}}</span>
    </div>
    {% if page.id==1 %}
    <a class="active"></a>
    {% endif %}
    </a>
    </li>
{% endfor %}  

{% endblock meny %}

    
<!-- Dette er når en går inn i siden -->
{% block content%}
<h1>{{page.title}} lala</h1>    
<p>{{page.text}}</p>
<p> Her kommer innholdet til de forskjellige sidene</p>
{% endblock content %}

<!-- Dette er hva som skjer per side man klikker seg inn på fra hovedmenyen -->
