
    body {
        background-color:#fcf5f0;
        font-family: arial;
        text-align: center;
        margin: 0;
        }
    h1 {color: #2e4153;}
    h2 {color: #2e4153;}
    p {color: #5D6D7E;}
    ul {color: #5D6D7E;}
    .meny {
            /*  Prøv å få denne stickyen til å funke senere! feilen som skjer er at dropdown menyen klikker.*/
            /* position: -webkit-sticky; /* **Safari trenger denne*/
            /* position: sticky; /* *Slik at menyen holder seg på toppen når en scroller*/
            /* top: 0; /* må definere */
        list-style-type: none;
        margin: 0;
        padding: 20px; 
        overflow: hidden;
        background-color: white;
        border: none;
        font-size: 35px;
        color: #2e4153;
        }

    li {
        float:left;
                    /* blir også horisontalt displayed med display: inline; 
                    width: 100%;
                    overflow: auto;*/
        }
    li a, .dropbtn {/* selve meny knappene*/
        display: inline-block;
        color:  #2e4153;
        text-align: center;
        width: 70%;
        padding: 20px 15px;
        padding-bottom: 30px;
        text-decoration: none;
        border-bottom-width: 10px;
        margin-right: 60px;
        margin-bottom: -20px;
        border:none;
        }
    li .active { /* den siden den er på */
        color: black;
        border-bottom-style: solid;
        }
    .search-container {  /* hele search plassen */
        float:right;
        }
        
    li input[type=text] { /* beliggenheten til søkefeltet */ 
        padding: 6px;
        margin-top: 20px;
        font-size: 17px;
        border:none;
        }
    .search-container button { /* selve search knappen */ 
        float: right;
        padding: 6px;
        margin-top: 18px;
        margin-right: 16px;
        background: rgb(216, 213, 213);
        font-size: 23px;
        border:medium;
        cursor: pointer;
        }

    li input[type=text] {  /* søkefeltet */ 
        border: 1px solid #ccc;  
        }

    li a:hover:not(.active), .search-container button:hover, .dropdown:hover .dropbtn { 
            /* når du flytter musen over menyen og søk knapp, untatt knappen til den nåværende siden*/
        background-color:#f5ece6; 
        border-radius: 10px; /* runde kanter */
        }
    li.dropdown {
        display: inline-block;
        }
    .dropdown-content {
        display:none;
        position:absolute;
        padding:7px;
        background-color:rgb(212, 202, 195);/* bakgrunnsfargen i drop-menyen*/
        min-width: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 15px; /* mellomrom mellom knappen og dropdown menyen*/
        border:none;
        }
    .dropdown-content a {
        color: #2e4153; /* tekst-fargen i drop-menyen*/
        padding: 10px 9px;
        text-decoration: none;
        display: block;
        text-align: left;
        border: none;
        width: 85%;
        padding-bottom: 5px;
        border-bottom-width: 1px;
        margin-top: 0px;
        margin-right: 0px; /*den grå "bakgrunnen"/*/
        margin-bottom: 0px;
        margin-left: 0px;
        font-size: 15px;        
        /* kan med fordel prøve å rydde i denne*/
        }
    .dropdown-content a:hover {background-color: red;} /*rart at denne er unreachable?, 
        denne endrer bare bakgrunnsfargen til knappene en har musen over inni dropdown menyen. trenger den ikke men bare rart*/
    li.dropdown:hover .dropdown-content {
        display: block;
        }
        /*  og denne så ikke så bra ut, sletter ikke in case vi trenger den likevel.
        li.right { *plasserer meny på høyre side *
            float: right;
            }
        @media screen and (max-width: 600px) { 
            *om siden er mindre enn 600px så blir menyen endret til dette. Måtte fjerne da denne ikke kom overens med sticky.*
            li.right, 
            li {float: none;}
        } */

    .tooltip {
        position:relative;
        display: inline-block;
        border-block-width: 30px;
        /* border-bottom:dotted; der tooltippen kommer opp  */
        }
    .tooltip .tooltiptext {   /* selve tooltippen */
        visibility: hidden;
        width: 100px;
        background-color: #495b6b;
        color: #fff;
        text-align: center;
        border-radius: 10px; /* runde kanter */
        padding: 5px 0;
        font-size: 15px;
        /* Position til tooltip, må gjøres på ny !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
        position:absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
        /* Fading i tooltip, tar 1 sekund fra 0% til 100% i synlightet her: */
        opacity: 0;
        transition: opacity 2s;
        }
    a:hover .tooltiptext {  /* når pilen over der tooltipen kommer opp*/
        visibility:visible;
        transition-timing-function:ease-in;
        opacity: 1;
        }
        /* Footer */
    footer {
            background-color: white;
            font-family: arial;
            text-align: center;
            padding: 30px;
            }
