{% extends 'layout.html' %}



<!-- Venstre kolonne--><!-- Venstre kolonne-->
<!-- Venstre kolonne--><!-- Venstre kolonne-->
{% block forstevenstre %}
{% endblock forstevenstre %}
<!-- Venstre kolonne slutt--><!-- Venstre kolonne slutt-->
<!-- Venstre kolonne slutt--><!-- Venstre kolonne slutt-->





<!-- Midterste kolonne--><!-- Midterste kolonne-->
<!-- Midterste kolonne--><!-- Midterste kolonne-->
{% block forstemidten %}
<h4 class="w3-center">    
    About group 27
</h4>
<hr>
<h6 class="w3-opacity">
    Group 27 is a group made up by two students. <br> 
    These students made this social media plattform for a school assignment. <br>
    @social was inspired by facebook and instagram and is intended to be a "baby"-version of these two sites. <br> <br>
</h6>
<h6>Thank You for using @social!</h6>
<br>
<h4 class="w3-center w3-opacity">    
    @social
</h4>
{% endblock forstemidten %}
<!-- Midterste kolonne slutt--><!-- Midterste kolonne slutt-->
<!-- Midterste kolonne slutt--><!-- Midterste kolonne slutt-->





<!-- Høyre kolonne--><!-- Høyre kolonne-->
<!-- Høyre kolonne--><!-- Høyre kolonne--> 
{% block forstehoyre %}
{% endblock forstehoyre %}
<!-- Høyre kolonne slutt--><!-- Høyre kolonne slutt-->
<!-- Høyre kolonne slutt--><!-- Høyre kolonne slutt-->
