


{% extends 'layout.html' %}

{% block title %}
@social
{% endblock title %}

    
{% block meny %}
<ul> <!--Bruker bare list of links til navbar, meny knappene innhold hver for seg-->
    <!-- Her er hovedmeny-->
    {% for page in pages %}
    <li> 
        <a href={{url_for("page", page_id=page.id )}}> 
        <div class="tooltip"><i class= '{{page.figure_name }}'></i>
        <span class="tooltiptext">{{page.title}}</span>
        </div>
        {% if page.id==1 %}
        <a class="active"></a>
        {% endif %}
        </a>
        </li>
    {% endfor %}  



    
<!-- Her er dropdown meny-->
<li class="dropdown" style="float:right;"> <!--settes til høyre-->
    <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-bars"></i></a>
    <div class="dropdown-content">
    <a href=("ekstrapage", ekstrapage_id = ekstrapage.id >

    <i class="fa fa-cogs"></i> Settings</a>
    <a href="#"><i class="fa fa-question-circle-o"></i> Help/FAQ</a>
    <a href="#"><i class="fa fa-lock"></i> Log Out</a>
    </div> 
    </li>
<!---->




<!-- Her er søkefeltet-->
    <li class ="search-container">
        <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
        </li></form>          

</ul>
{% endblock meny %}



{% block content %}
<p> Her er innholdet</p>
{% endblock content %}

    
