


{% extends 'layout.html' %}

{% block title %}
@social
{% endblock title %}

    
{% block meny %}
<ul class="meny"> <!--Bruker bare list of links til navbar, meny knappene innhold hver for seg-->
    <!-- Her er hovedmeny-->
    {% for page in pages %}
    <li> 
        <a href={{url_for("page", page_id=page.id )}}> 
        <div class="tooltip"><i class= '{{page.figure_name }}'></i>
        <span class="tooltiptext">{{page.title}}</span>
        </div>
        {% if page.id == 1 %}
        <a class="active"></a>
        {% endif %}
        1 <!-- Disse er kun markeringer for egen del-->
        </a>
        
    {% endfor %}  


    
    <!-- Her er dropdown meny-->
    <li class="dropdown" style="float:right;"> <!--settes til høyre-->
        <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-bars"></i></a>
        <div class="dropdown-content">
        <a href=("ekstrapage", ekstrapage_id = ekstrapage.id >

        <i class="fa fa-cogs"></i> Settings</a>
        <a href="ekstrapage.html"><i class="fa fa-question-circle-o"></i> Help/FAQ</a>
        <a href="ekstrapage.html"><i class="fa fa-lock"></i> Log Out</a>
        2 <!-- Disse er kun markeringer for egen del-->
        </div> 
        </li>
    <!---->



<!-- Her er søkefeltet-->
    <li class ="search-container">
        <form action="/action_page.php" method="GET">
        <label for="searchword"></label>
        <input id="searchword" type="text" name="search" placeholder="Search..." >
        <button type="submit"><i class="fa fa-search"></i></button>3 <!-- Disse er kun markeringer for egen del-->
        </li></form>          
    </li>
</ul>
{% endblock meny %}



{% block content %}
<p> Her er innholdet egentlig <br> Men velger å koble til login siden her for å se den</p>
<a href="/atsocial/templates/login.html" > klikk her</a>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio quaerat temporibus fugiat laborum facilis suscipit inventore, sit dolorem consectetur, qui a aut ea minus nulla deserunt atque autem porro.
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quod magnam autem voluptate expedita eligendi eveniet repellendus maxime! Illo sit sint id qui repudiandae architecto dolores quos, consectetur eaque non.
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veritatis corporis ad nobis assumenda voluptatibus nisi sint blanditiis molestias tenetur alias sequi animi necessitatibus vero earum, nesciunt fuga iusto ex.

</p>
{% endblock content %}


    
