<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>
            @social
            {% block title %}
            {% endblock title%}
        </title> <!--Defines the title of a document-->  

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- href er selve linken man refererer til eller dokumentet med html man refererer til --> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8"> <!--Defines metadata about an HTML document-->
        <meta name="author" content="Karina">
        <meta name ="description" content="Main page">
        <meta name="keywords" content="feed, HTML, CSS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <!--denne får den til å tilpasse seg forskjellige skjermer-->   

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


        <!-- --> 
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <!-- DENNE MÅ ENDRES (kun en css med farger) -->  
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <style>
        html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>

    <body>
        <div class="w3-top"> 
        <ul class="meny"> <!--Bruker bare list of links til navbar, meny knappene innhold hver for seg-->

            <!-- Her er hovedmeny-->
            <!-- Her er hovedmeny-->

            <li><a 
            {% block homeactive %}  
            {% endblock homeactive %}
                 href="{{url_for('views.index')}}">
                <div class="tooltip"><i class="fa fa-home"></i>
                <span class="tooltiptext">HOME</span>
                </div></a></li>
            <li><a 
                {% block uploadactive %}
                {% endblock uploadactive %}
                href="{{url_for('views.upload')}}">
                <div class="tooltip"><i class="fa fa-cloud-upload"></i><span class="tooltiptext">UPLOAD</span>
                </div></a></li>
            <li><a 
                {% block friendsactive %}
                {% endblock friendsactive %}
                href="{{url_for('views.myfriends')}}">
                <div class="tooltip"><i class="fa fa-users"></i><span class="tooltiptext">FRIENDS</span>
                </div></a></li>


            <li><a 
                {% block myprofileactive %}
                {% endblock myprofileactive %}
                href="{{url_for('views.myprofile')}}">
                <div class="tooltip"><i class="fa fa-id-badge"></i><span class="tooltiptext">MY PROFILE</span>
                </div></a></li>

            <!-- Hovedmeny ferdig-->
            <!-- Hovedmeny ferdig-->





            <!-- Her er dropdown meny -->        
            <!-- Her er dropdown meny -->
                <li class="dropdown" style="float:right;"> <!--settes til høyre-->
                    <a href="javascript:void(0)" class="dropbtn"><i class="fa fa-bars"></i></a>
                    <div class="dropdown-content">
                    <a href="{{url_for('views.settings')}}"><i class="fa fa-cogs"></i> Settings</a>
                    <a href="{{url_for('views.faq')}}"><i class="fa fa-question-circle-o"></i> Help/FAQ</a>
                    <a href="logout"><i class="fa fa-lock"></i> Log Out</a>
                    </div> 
                    </li>
            <!-- Her er dropdown meny ferdig -->
            <!-- Her er dropdown meny ferdig -->
        
                <!-- Her er søkefeltet-->
                <!-- Her er søkefeltet-->
                <li class ="search-container">
                    <form action="/action_page.php" method="GET">
                    <label for="searchword"></label>
                    <input id="searchword" type="text" name="search" placeholder="Search..." >
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </li></form>     
                <!-- Her er søkefeltet-->
                <!-- Her er søkefeltet-->
            </li>
            </ul>
        </div>

        <!-- SJEKK DENNE(UNDER)--><!-- SJEKK DENNE(UNDER)--><!-- SJEKK DENNE(UNDER)-->
        <!-- Navbar on small screens, dette må vi sjekke på ...-->
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
          <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME </a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">UPLOAD</a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">FRIENDS</a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large">MY PROFILE</a>
        </div>
        <!-- SJEKK DENNE(OVENFOR)--><!-- SJEKK DENNE(OVENFOR)--><!-- SJEKK DENNE(OVENFOR)-->


        <!-- Page Container --> <!-- selve siden under menyen -->
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
            <br><br><br> 
          <!-- The Grid -->
          <div class="w3-row"> 








            <!-- Venstre kolonne starter her-->
            <!-- Venstre kolonne starter her-->
            <div class="w3-col m3">
                {% block forstevenstre %}
                {% endblock forstevenstre %}
              
              <br>



              {% block andrevenstre %}
              {% endblock andrevenstre %}
              <!-- Alert Box -->
              <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
                  <i class="fa fa-remove"></i>
                </span>
                <p><strong>Hei!</strong></p>
                <p>Denne gir alerts. <br> Skal vi bruke denne?</p>
              </div>
            <!-- End Left Column -->
            </div>
            






            <!-- Middle Column --><!-- Midterste kolonne -->
            <!-- Middle Column --><!-- Midterste kolonne -->
            <div class="w3-col m7">
            
              <div class="w3-row-padding">
                <div class="w3-col m12">
                  <div class="w3-card w3-round w3-white">
                    <div class="w3-container w3-padding">
                      {% block forstemidten %}
                      {% endblock forstemidten %}

                    </div>
                  </div>
                </div>
              </div>
              
              

              {% block andremidten %}    
              {% endblock andremidten %}

              
            <!-- End Middle Column -->
            </div>
            





            <!-- Right Column --><!-- høyre kolonne-->
            <!-- Right Column --><!-- høyre kolonne-->
            <div class="w3-col m2">
                
                {% block forstehoyre %}
                {% endblock forstehoyre %}
                
              <br>
            <!-- Høyre kolonne slutt--><!-- Høyre kolonne slutt-->
            <!-- Høyre kolonne slutt--><!-- Høyre kolonne slutt-->


              
            <!-- End Right Column -->
            </div>
            
          <!-- End Grid -->
          </div>
          
        <!-- End Page Container -->
        </div>
        <br>
        

         
        <script>
        // Accordion
        function myFunction(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
          } else { 
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className = 
            x.previousElementSibling.className.replace(" w3-theme-d1", "");
          }
        }
        
        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
        </script>
        





        </body>
 

        <footer class="w3-container w3-padding-16">
                <h5>Footer</h5>
                <p>Powered by <a href="{{url_for('views.group27')}}"> group 27</a></p>        
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>

<!-- en generell side med layout, også hovedsiden og de mindre sidene-->
