<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>
        Login/Register
        </title>
    </head>
        
        
    <body>
        <li><a>
        <form action="" method="GET"> <!--Hva skal siden gjøre etter "submit"?-->
            <h1>Log in</h1>
            <h2>Please input E-mail and password:</h2>
            <label for="emailtag">E-mail:</label>
            <input id="emailtag" type="email" name="useremail" placeholder="Enter E-mail..."><br> <!--Det som tastes inn må inneholde en @-->
            <label for ="passtag">Password:</label>
            <input id="passtag" type="password" name="" placeholder="Enter password..."><br><!--pasordet blir skjult-->
            <input type="submit" name="" value="submit">
        </form>
        </a></li>
    </body>
   
  


        
        
</html>    