
 

{% extends 'layout.html' %}

<!-- under her er navnet på menysiden i taben-->
{% block title %}
- Myprofile
{% endblock title %}
<!-- under her viser at om man er på siden så er den "active" 
    og den streken under figuren på menyen går på -->
{% block myprofileactive %}
    class="active" 
{% endblock myprofileactive %}

    
<!-- Dette er når en går inn i siden -->

{% block forstevenstretittel %}
Dine følgere:
{% endblock forstevenstretittel %}

{% block forstevenstre %}
<p> Du har så og så mange følgere :)</p>
{% endblock forstevenstre %}





    
{% block andrevenstre %}
    <!-- meny lignende greie... kanskje denne brukes til hashtag elns -->
    <div class="w3-card w3-round">
        <div class="w3-white">
        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
        <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
            <br><br><br>
            <p> Karina</p>
        </div>    
        <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
        <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p> <br><br><br> <p> enda mer ting oppi her</p>
        </div>
        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
        <div id="Demo3" class="w3-hide w3-container">
        <div class="w3-row-padding">
        <br>
        <div class="w3-half">
            <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        </div>
        </div>
        </div>      
    </div>
    <br>

    {% endblock andrevenstre %}

{% block content%}
<div class="jumbotron">
<p>Velkommen til siden din!</p>
</div>


{% endblock content %}

<!-- Dette er hva som skjer per side man klikker seg inn på fra hovedmenyen -->
<!-- <h1> {{main_user.name|capitalize}} {{name}}</h1> -->
