
 

{% extends 'layout.html' %}

<!-- under her er navnet på menysiden i taben-->
{% block title %}
- Myprofile
{% endblock title %}
<!-- under her viser at om man er på siden så er den "active" 
    og den streken under figuren på menyen går på -->
{% block myprofileactive %}
    class="active" 
{% endblock myprofileactive %}

    
<!-- Dette er når en går inn i siden -->


<!-- Venstre kolonne--><!-- Venstre kolonne-->
<!-- Venstre kolonne--><!-- Venstre kolonne-->


     

{% block forstevenstre %}
    <div class="w3-card w3-round w3-white">
        <div class="w3-container">
        <h4 class="w3-opacity">
        Followers
        </h4>
        <hr> <!-- dette er en strek-->
        <p> ... så mange følger deg!...</p>
        </div>
    </div>
{% endblock forstevenstre %}

    
{% block andrevenstre %}
    <!-- meny lignende greie... kanskje denne brukes til hashtag elns -->
    <div class="w3-card w3-round">
        <div class="w3-white">
        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
        <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
            <br><br><br>
            <p> Karina</p>
        </div>    
        <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
        <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p> <br><br><br> <p> enda mer ting oppi her</p>
        </div>
        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
        <div id="Demo3" class="w3-hide w3-container">
        <div class="w3-row-padding">
        <br>
        <div class="w3-half">
            <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        <div class="w3-half">
            <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
        </div>
        </div>
        </div>
        </div>      
    </div>
    <br>
    {% endblock andrevenstre %}
<!-- Venstre kolonne slutt--><!-- Venstre kolonne slutt-->
<!-- Venstre kolonne slutt--><!-- Venstre kolonne slutt-->






<!-- Midterste kolonne--><!-- Midterste kolonne-->
<!-- Midterste kolonne--><!-- Midterste kolonne-->
    {% block forstemidten %}
    <h4 class="w3-center">    
        Your name
    </h4>
    Profilbilde

    <hr>
    <h6 class="w3-opacity">
        Bio her: <br> - Om meg <br>- Osv ...
    </h6>

    <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Edit profile </button> 
    {% endblock forstemidten %}


    
    {% block andremidten %}


    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity"></span>
        <h4>Your pictures</h4>
        <hr>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-upload" ></i>  Upload</button> 
        </span>
        <br>
          <div class="w3-row-padding" style="margin:0 -16px">

            <!-- For hvert bilde som blir lasta opp må denne komme fram!-->
            <!-- For hvert bilde som blir lasta opp må denne komme fram!-->
            <div class="w3-half">
              <img src="" style="width:100%" alt="fjell" class="w3-margin-bottom">
            <!-- For hvert bilde som blir lasta opp må denne komme fram!-->
            <!-- For hvert bilde som blir lasta opp må denne komme fram!-->
          </div>
        </div>
      </div>
    {% endblock andremidten %}
<!-- Midterste kolonne slutt--><!-- Midterste kolonne slutt-->
<!-- Midterste kolonne slutt--><!-- Midterste kolonne slutt-->








<!-- Høyre kolonne--><!-- Høyre kolonne-->
<!-- Høyre kolonne--><!-- Høyre kolonne-->    
    {% block forstehoyre %}
    <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">

    <h4 class="w3-opacity">
    Following:
    </h4>
    <hr>  
    <p>... så mange følger du! ... </p>

        </div>
    </div>
    {% endblock forstehoyre %}

<!-- Høyre kolonne slutt--><!-- Høyre kolonne slutt-->
<!-- Høyre kolonne slutt--><!-- Høyre kolonne slutt-->





<!-- Dette er hva som skjer per side man klikker seg inn på fra hovedmenyen -->
<!-- <h1> {{main_user.name|capitalize}} {{name}}</h1> -->
