
{% extends 'layout.html' %}

    {% block content %}
    <div class="jumbotron">
        <h2>Settings - add changes</h2>
        <br> <br>
            <form action="{{url_for('thank_you')}}">
            <label for="first">First Name</label>
            <input type="text" name="first" id="first">
            <label for="last">Last Name</label>
            <input type="text" name="last" id="last">
            <input type="submit" value="Submit Form">
            </form>
    </div>

               
        {% endblock content %}



