


{% extends 'layout.html' %}

<!-- under her er navnet på menysiden i taben-->
{% block title %}
- Upload
{% endblock title %}

{% block uploadactive %}
    class="active" 
{% endblock uploadactive %}






{% block forstevenstre %}
{% endblock forstevenstre %}




{% block forstemidten %}


<h4 class="w3-center">    
    Upload
</h4>

<hr>
<h6 class="w3-opacity">
    <p>Click on the "Choose File" button to upload a file:</p>
</h6>
<form action="/action_page.php">
    <input type="file" id="myFile" name="filename">
    <input type="submit" >
</form><br><br>
{% endblock forstemidten %}
    

{% block forstehoyre %}
    
{% endblock forstehoyre %}
    


